<div class="card m-2" style="width:250px; border-radius: 30px;">
  <iframe style="border-radius: 30px;" height="250" src="https://www.youtube-nocookie.com/embed/{{ post.url }}?modestbranding=1&showinfo=0&controls=1&rel=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>    
  <div class="card-body">
    <div>
      posted by: 
      <a href="{{ url_for('user', username=post.author.username) }}">
        {{ post.author.username }}
      </a>
    </div>
    <div>
      {% if post.author.id == current_user.id %}
        <button class="btn"><a href="/update/{{post.id}}">update</a></button>
        <button class="btn"><a href="/delete/{{post.id}}">delete</a></button>
      {% endif %}
    </div>
  </div>
</div>