{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% for post in posts %}
    <div class="w-25 border rounded p-3 m-2">
        <p>{{ post.author.username }} says: <br/>
            <b>{{ post.body }}</b> <br/>
            at {{ post.timestamp }}</p>
        <button class="btn"><a href="/update/{{post.id}}">update post</a></button>
        <button class="btn"><a href="/delete/{{post.id}}">delete post</a></button>
    </div>
    {% endfor %}
    <br/>
{% endblock %}
